<div class="container">

  <div class="card" *ngIf="!isLoading">
    <div class="card-bg {{pCard.cardColor}}">
      <div *ngIf="urlDocId" class="card-mark">
        <button mat-icon-button [matMenuTriggerFor]="colorpicker" aria-label="Example icon-button with a menu">
          <span class="emoji">{{pCard.mark || '🚫'}}</span>
        </button>
        <mat-menu #colorpicker="matMenu" class="container color-picker-wrapper">
          <div class="row">
            <div class="col-3 pr-0 text-center mb-3">
              <span class="emoji" (click)="pCard.mark = ''">🚫</span>
            </div>
            <ng-container *ngFor="let mark of markList">
              <div class="col-3 pr-0 text-center mb-3">
                <span class="emoji" (click)="pCard.mark = mark">{{mark}}</span>
              </div>
            </ng-container>
          </div>
        </mat-menu>
      </div>

      <div *ngIf="urlDocId" class="card-option">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteModal.show()">
            <mat-icon>delete_outline</mat-icon>
            <span>刪除</span>
          </button>
          <button mat-menu-item (click)="moveModal.show()">
            <mat-icon>folder_open</mat-icon>
            <span>移動至其他資料夾</span>
          </button>
          <button mat-menu-item [cdkCopyToClipboard]="clipValue" (click)="addToast('已複製連結')" [disabled]="urlDocId == 'new'">
            <mat-icon>share</mat-icon>
            <span>分享連結</span>
          </button>
        </mat-menu>
      </div>

      <div *ngIf="urlDocId" class="card-bg-edit">
        <button mat-icon-button [matMenuTriggerFor]="colorpicker" aria-label="Example icon-button with a menu">
          <mat-icon>colorize</mat-icon>
        </button>
        <mat-menu #colorpicker="matMenu" class="container color-picker-wrapper">
          <div class="row" (click)="$event.stopPropagation();">
            <ng-container *ngFor="let color of colorList">
              <div class="col-3 pr-0">
                <span class="color-picker {{color}}" [ngClass]="{'active' : pCard.cardColor == color}" (click)="pCard.cardColor = color;"></span>
              </div>
            </ng-container>
          </div>
        </mat-menu>
      </div>

      <div class="card-photo-wrap">
        <img src="assets/img/avatars/female.png" class="card-photo">
         <div class="card-photo-edit"><i class="icon fa fa-plus"></i></div>
      </div>
    </div>

    <div class="card-title">
      <div class="form-group card-item">
        <div class="card-item-edit" (click)="closeEditToggle('title', editToggle.title)">
          <i *ngIf="!editToggle.title" class="icon fa fa-pencil"></i>
          <i *ngIf="editToggle.title" class="icon fa fa-check"></i>
        </div>

        <h1 *ngIf="!editToggle.title">{{pCard.name || '&nbsp;'}} <span *ngIf="pCard.startTime"> ({{pCard.startTime}}) </span></h1>
        <p *ngIf="!editToggle.title">
          <mat-chip *ngIf="pCard.age || pCard.birthday" [ngClass]="pCard.cardColor" [selectable]="true" [disableRipple]="true">
            {{birthAge || pCard.age}}歲</mat-chip>
          <mat-chip *ngIf="pCard.constellation || pCard.birthday" [ngClass]="pCard.cardColor" [selectable]="true" [disableRipple]="true">
            {{birthConstellation ||pCard.constellation}}</mat-chip>
          <mat-chip *ngIf="pCard.birthday" [ngClass]="pCard.cardColor" [selectable]="true" [disableRipple]="true">{{pCard.birthday | date: 'MM/dd'}}</mat-chip>
          <mat-chip *ngIf="pCard.location" [ngClass]="pCard.cardColor" [selectable]="true" [disableRipple]="true">{{pCard.location}}</mat-chip>
        </p>


        <div class="row" *ngIf="editToggle.title">
          <div class="col-8"><input [(ngModel)]="pCard.name" class="form-control" id="name" placeholder="名稱" autocomplete="off"></div>
          <div class="col-4"><input [(ngModel)]="pCard.startTime" class="form-control" id="startTime" placeholder="起始日" autocomplete="off"></div>
          <div class="col-4"><input [(ngModel)]="pCard.age" class="form-control" id="age" placeholder="年齡" autocomplete="off"></div>
          <div class="col-4"><input [(ngModel)]="pCard.constellation" class="form-control" id="constellation" placeholder="星座" autocomplete="off"></div>
          <div class="col-4"><input [(ngModel)]="pCard.location" class="form-control" id="location" placeholder="區域" autocomplete="off"></div>
          <div class="col">
            <mat-form-field class="mat-dp" (click)="birthdayDp.open()">
              <mat-label>Input disabled</mat-label>
              <input matInput [matDatepicker]="birthdayDp" [(ngModel)]="moment" (dateChange)="setBirthday(moment)">
              <mat-datepicker-toggle matSuffix [for]="birthdayDp"></mat-datepicker-toggle>
              <mat-datepicker #birthdayDp disabled="false"></mat-datepicker>
            </mat-form-field>
            <span class="dp-input" (click)="birthdayDp.open()">{{ (pCard.birthday | date: 'yyyy/MM/dd') || "生日"}}</span>
          </div>
        </div>
        <div class="birth-clear"></div>

      </div>

    </div>

    <div class="card-body">
      <div class="form-group card-item">
        <div class="card-item-edit" (click)="closeEditToggle('job', editToggle.job)">
          <i *ngIf="!editToggle.job" class="icon fa fa-pencil"></i>
          <i *ngIf="editToggle.job" class="icon fa fa-check"></i>
        </div>
        <label class="card-label" for="job">職業</label>
        <p *ngIf="!editToggle.job">{{pCard.job || '&nbsp;'}}</p>
        <input *ngIf="editToggle.job" [(ngModel)]="pCard.job" class="form-control" id="job" autocomplete="off">
      </div>


      <div class="form-group card-item">
        <div class="card-item-edit" (click)="closeEditToggle('department', editToggle.department)">
          <i *ngIf="!editToggle.department" class="icon fa fa-pencil"></i>
          <i *ngIf="editToggle.department" class="icon fa fa-check"></i>
        </div>
        <label class="card-label" for="department">科系</label>
        <p *ngIf="!editToggle.department">{{pCard.department || '&nbsp;'}}</p>
        <input *ngIf="editToggle.department" [(ngModel)]="pCard.department" class="form-control" id="department" autocomplete="off">
      </div>


      <div *ngFor="let note of pCard.noteList; let i = index" class="form-group card-item">
        <div class="card-item-edit" (click)="closeEditToggle('noteList', editToggle.noteList[i], i)">
          <i *ngIf="!editToggle.noteList[i]" class="icon fa fa-pencil"></i>
          <i *ngIf="editToggle.noteList[i]" class="icon fa fa-check"></i>
        </div>
        <label class="card-label" for="noteList{{i}}">{{noteListName[i]}}</label>
        <p *ngIf="!editToggle.noteList[i]">
          <mat-chip-list #chipList class="example-chip">
            <mat-chip *ngFor="let keyword of note.keywords" [ngClass]="keyword.class" [selectable]="true"
                     [disableRipple]="true">
              {{keyword.name}}
            </mat-chip>
          </mat-chip-list>
        </p>
        <mat-form-field *ngIf="editToggle.noteList[i]" class="example-chip-list">
          <mat-chip-list #chipList class="example-chip">
            <mat-chip *ngFor="let keyword of note.keywords" [ngClass]="keyword.class" [selectable]="true"
                    [removable]="true" [disableRipple]="true" (removed)="remove(note.keywords, keyword)"
                    (click)="keyword.class = pTagColor">
              {{keyword.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="輸入標籤"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add(note.keywords, pTagColor, $event)"
                   autocomplete="off">
            <!-- color picker -->
            <ng-container>
              <button mat-icon-button [matMenuTriggerFor]="colorpicker" aria-label="Tag color picker">
                <span class="color-picker active {{pTagColor}}"></span>
              </button>
              <mat-menu #colorpicker="matMenu" class="container color-picker-wrapper">
                <div class="row" (click)="$event.stopPropagation();">
                  <ng-container *ngFor="let color of colorList">
                    <div class="col-3 pr-0">
                      <span class="color-picker {{color}}" [ngClass]="{'active' : pTagColor == color}" (click)="pTagColor = color"></span>
                    </div>
                  </ng-container>
                </div>
              </mat-menu>
            </ng-container>
          </mat-chip-list>
        </mat-form-field>

        <p *ngIf="!editToggle.noteList[i]" class="card-item-content">{{note.content || '&nbsp;'}}</p>
        <textarea *ngIf="editToggle.noteList[i]" [(ngModel)]="note.content" class="form-control" id="noteList{{i}}.content" autocomplete="off"></textarea>
      </div>


      <div class="form-group card-item">
        <div class="card-item-edit" (click)="closeEditToggle('comment', editToggle.comment)">
          <i *ngIf="!editToggle.comment" class="icon fa fa-pencil"></i>
          <i *ngIf="editToggle.comment" class="icon fa fa-check"></i>
        </div>
        <label class="card-label" for="department">簡評</label>
        <p *ngIf="!editToggle.comment" class="card-item-content">{{pCard.comment || '&nbsp;'}}</p>
        <textarea *ngIf="editToggle.comment" [(ngModel)]="pCard.comment" class="form-control" id="department" autocomplete="off"></textarea>
      </div>


      <div class="form-group card-item">
        <div class="card-item-edit" (click)="closeEditToggle('remark', editToggle.remark)">
          <i *ngIf="!editToggle.remark" class="icon fa fa-pencil"></i>
          <i *ngIf="editToggle.remark" class="icon fa fa-check"></i>
        </div>
        <label class="card-label" for="department">備註</label>
        <p *ngIf="!editToggle.remark" class="card-item-content">{{pCard.remark || '&nbsp;'}}</p>
        <textarea *ngIf="editToggle.remark" [(ngModel)]="pCard.remark" class="form-control" id="department" autocomplete="off"></textarea>
      </div>

      <div class="card-edit-time">最後編輯時間: {{pCard.lastEditTime | date: 'yyyy/MM/dd HH:mm'}}</div>
    </div>
  </div>

  <button class="btn btn-float" (click)="save()">
    <i class="fa fa-save"></i>
  </button>

</div>


<!-- <button (click)="addToast()">toast</button> -->
<p-toast styleClass="custom-toast" position="bottom-center" key="bc"></p-toast>



<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary mr-1" data-toggle="modal" (click)="myModal.show()">
  Launch demo modal
</button> -->

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title m-0">提醒</h4>
      </div>
      <div class="modal-body">
        <p class="m-0">確定刪除資料卡？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">取消</button>
        <button type="button" class="btn btn-danger" (click)="deleteCard()">刪除</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- move modal -->
<div bsModal #moveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title m-0">移動至其他資料夾</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="fg">
          <div *ngFor="let folder of folderList;">
            <label *ngIf="folder.folderName !== urlFolderId">
              <input type="radio" value="{{folder.id}}" formControlName="folder">
                <span>{{folder.folderName}}</span>
            </label>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="moveModal.hide()">取消</button>
        <button type="button" class="btn btn-primary" [disabled]="!fg.valid" (click)="moveCard(fg.get('folder').value)">移動</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- <mat-form-field appearance="fill" (click)="dp.open()" style="visibility: hidden;">
  <mat-label>Input disabled</mat-label>
  <input matInput [matDatepicker]="dp" [(ngModel)]="pCard.birthday">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp disabled="false"></mat-datepicker>
</mat-form-field> -->

<!-- <p-calendar [(ngModel)]="pCard.birthday" [locale]="zh" [touchUI]="calendarTouch" [readonlyInput]="true" dateFormat="yy/mm/dd"
            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" placeholder="生日"
            [yearNavigator]="true" yearRange="1900:2050" showButtonBar="true"></p-calendar> -->
