<div  *ngIf="!isGetDB" class="app flex-row align-items-center">
  <div class="lds-roller">
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
  </div>
</div>


<div *ngIf="isGetDB" class="container-fluid">
  <div class="container animated fadeIn">

    <div class="card">
      <div class="card-bg {{pCard.cardColor}}">
        <div class="card-photo-wrap">
          <img src="assets/img/avatars/female.png" class="card-photo">
        </div>
      </div>

      <div class="card-title">
        <div class="form-group card-item">
          <h1>{{pCard.name || '&nbsp;'}}</h1>
        </div>

        <div class="form-group card-item">
          <p>
            <mat-chip *ngIf="pCard.age || pCard.birthday" [ngClass]="pCard.cardColor" [selectable]="true" [disableRipple]="true">
              {{pCard.age}}歲</mat-chip>
            <mat-chip *ngIf="pCard.constellation || pCard.birthday" [ngClass]="pCard.cardColor" [selectable]="true" [disableRipple]="true">
              {{pCard.constellation}}</mat-chip>
            <mat-chip *ngIf="pCard.birthday" [ngClass]="pCard.cardColor" [selectable]="true" [disableRipple]="true">{{pCard.birthday | date: 'MM/dd'}}</mat-chip>
            <mat-chip *ngIf="pCard.location" [ngClass]="pCard.cardColor" [selectable]="true" [disableRipple]="true">{{pCard.location}}</mat-chip>
          </p>
        </div>
      </div>

      <div class="card-body">
        <div class="form-group card-item">
          <label class="card-label" for="job">職業</label>
          <p>{{pCard.job || '&nbsp;'}}</p>
        </div>


        <div class="form-group card-item">
          <label class="card-label" for="department">科系</label>
          <p>{{pCard.department || '&nbsp;'}}</p>
        </div>


        <div *ngFor="let note of pCard.noteList; let i = index" class="form-group card-item">
          <label class="card-label" for="noteList{{i}}">{{noteListName[i]}}</label>
          <p>
            <mat-chip-list #chipList class="example-chip">
              <mat-chip *ngFor="let keyword of note.keywords" [ngClass]="keyword.class" [selectable]="true"
                       [disableRipple]="true">
                {{keyword.name}}
              </mat-chip>
            </mat-chip-list>
          </p>

          <p>{{note.content || '&nbsp;'}}</p>
        </div>

        <div class="form-group card-item">
          <label class="card-label" for="department">簡評</label>
          <p class="card-item-content">{{pCard.comment || '&nbsp;'}}</p>
        </div>


        <div class="form-group card-item">
          <label class="card-label" for="department">備註</label>
          <p class="card-item-content">{{pCard.remark || '&nbsp;'}}</p>
        </div>

        <div class="card-edit-time">最後編輯時間: {{pCard.lastEditTime | date: 'yyyy/MM/dd HH:mm'}}</div>
      </div>
    </div>
  </div>
</div>
